 *   {
    margin: 2%;
    padding: 0;
    
}

.header,.main,.footer {
    text-align: center;
}
.container {
    display: grid;
    grid-template-rows: 150px auto 150px;
    
}


.main {
    background-color: aqua;
    padding: 1rem;
    
}

.footer {
    background-color: cadetblue;
    padding: 1rem;
    
}

.header {
    background-color: dodgerblue;
    padding: 1rem;

}