 *   {
    margin: 2%;
    padding: 0;
    
}

.container {
    display: grid;
    grid-template-rows: 150px auto 150px;
    flex-direction: column;
}

.main {
    background-color: aqua;
    padding: 1rem;
    
}

.footer {
    background-color: cadetblue;
    text-align: center;
    padding: 1rem
    
}

.header {
    background-color: dodgerblue;
    text-align: center;
    padding: 1rem
    
}